---
layout: default
---
<div class="post">

        <header class="post-header">
                <h1 class="post-title">{{ page.title }}</h1>
                <p class="post-meta">{{ page.date | localize: "%d %B %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </header>

        <article class="post-content">
                {{ content }}
        </article>

        <div class="social-sharing">
                <span class='st_facebook_hcount' displayText='Facebook'></span>
                <span class='st_twitter_hcount' displayText='Tweet'></span>
                <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
                <span class='st_googleplus_hcount' displayText='Google +'></span>
                <span class='st_vkontakte_hcount' displayText='Vkontakte'></span>
        </div>

        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">
                stLight.options({publisher: "d19b20fd-c2e4-4c60-819e-bdba3bf93759", doNotHash: false, doNotCopy: false, hashAddressBar: false});
        </script>

        {% if page.comments %}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'vadsitblog'; // required: replace example with your forum shortname
                var disqus_identifier = "{{ site.disqusid }}{{ page.url | replace:'index.html','' }}";

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        {% endif %}
</div>
